---
export const prerender = false;
const { id } = Astro.params;
import ExperimentDetail from '../../components/experiment-detail';
import BaseLayout from '../../layouts/base-layout.astro';
---
<BaseLayout title={`Experiment ${id}`}>
  <h1 class="text-2xl font-bold mb-4">Experiment {id}</h1>
  <ExperimentDetail id={id as string} client:load />
</BaseLayout> 