---
import ExperimentsTable from '../../components/ExperimentsTable.tsx';
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Experiments">
  <h1 class="text-3xl font-bold mb-4">Experiments</h1>
  <ExperimentsTable client:load />
</BaseLayout> 