---
import ExperimentsTable from '../../components/experiments-table.tsx';
import BaseLayout from '../../layouts/base-layout.astro';
---
<BaseLayout title="Experiments">
  <h1 class="text-3xl font-bold mb-4">Experiments</h1>
  <ExperimentsTable client:load />
</BaseLayout> 